* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	background: #F3F3F3;
    background-image: url(https://t2.uc.ltmcdn.com/it/posts/5/8/7/come_fare_una_pergamena_16785_600.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1{
    font-size: 1.4rem;
}

main .list {
	width: 20%;
	max-width: 768px;
	background-color: #cebb6f;
	border: 1px solid #CCC;
	margin-top: 74px;
}

main .list .item {
	padding: 15px;
	border-bottom: 1px solid #CCC;
}
main .list .item:last-of-type {
	border-bottom: none;
}
main .list .item:hover {
	background: rgba(0, 0, 0, 0.05);
}

.pagenumbers {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.pagenumbers button {
	width: 50px;
	height: 50px;

	appearance: none;
	border: none;
	outline: none;
	cursor: pointer;

	background-color: #f5dd7b;

	margin: 5px;
	transition: 0.4s;

	color: #83580b;
	font-size: 18px;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.pagenumbers button:hover {
	background-color: #fde994;
}

.pagenumbers button.active {
	background-color: #fde994;
	box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}